@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html 
{
    position: relative;
    /* min-height: 100%; */
}

body
{
    font-family: "Quicksand", sans-serif;
    margin-bottom: 0; /* Margin bottom by footer height */
    background-color: rgb(149, 255, 206);
    background-image: url("./home-page-piece.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: right bottom;
    background-attachment: fixed;
}

.App 
{
    /* text-align: center; */
    height: 100vh;
}